[Unit]
Description=Gunicorn server for sln8-staging.hopto.org

[Service]
Restart=on-failure
User=nando
WorkingDirectory=/home/nando/sites/sln8-staging.hopto.org/source
ExecStart=/home/nando/sites/sln8-staging.hopto.org/virtualenv/bin/gunicorn \
  --bind unix:/tmp/sln8-staging.hopto.org.socket \
  superlists.wsgi:application

[Install]
  WantedBy=multi-user.target
